<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
</head>
<body>
    <form action="" method="POST">{% csrf_token %}
        <fieldset>
            <legend>ID/Password</legend>
            {% for field in form %}
            <div>
                {{ field.label_tag }}
                {{ field }}
            </div>
            {% endfor %}
            <button type="submit">Login</button>
        </fieldset>
    </form>
</body>
</html>