.sprite-logo, .sprite-explore, .sprite-activity, .sprite-profile, .sprite-heart-empty, .sprite-heart-full {
  background-image: url(/static/images/sprites.png); }

.sprite-logo {
  background-position: -177px 0; }

.sprite-explore {
  background-position: -284px -260px; }

.sprite-activity {
  background-position: -310px -260px; }

.sprite-profile {
  background-position: -232px -260px; }

.sprite-heart-empty {
  background-position: -282px -180px; }

.sprite-heart-full {
  background-position: -256px -180px; }
