<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Instagram</title>
</head>
<body>
    {% for post in posts %}
        {{ post.id }}|{{ post.author.username}}</br>
        <!-- {{ post.photo }}는 이미지 상대 경로만 가지고 있다 -->
        <img src="{{ MEDIA_URL }}{{ post.photo }}"><br>
        <!-- linebreaksbr: 문단 br 추가, truncatechars 추가 -->
        {{ post.content|linebreaksbr|truncatechars:100 }}<br>
        <!-- 각 Post object에 comment 목록을 추가 -->
        {% if post.comment_set.all %}
            {% for comment in post.comment_set.all %}
                <div>
                    {{ comment.content }}
                </div>
            {% endfor %}
        {% else %}
            <p>No comment</p>
        {% endif %}
        <hr>
    {% endfor %}
</body>
</html>